﻿@model IEnumerable<Otus.Teaching.Pcf.Administration.Core.Domain.Administration.Employee>


@{
    Layout = "_Layout";
    ViewData["Title"] = "EmployeeView";
}


<h4>Product</h4>
<hr />
@{
    Otus.Teaching.Pcf.Administration.Core.Domain.Administration.Employee product = 
        new Otus.Teaching.Pcf.Administration.Core.Domain.Administration.Employee();
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateWithReload">
            <div class="form-group">
                <input asp-for="@product.Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="@product.FirstName" class="control-label"></label>
                <input asp-for="@product.FirstName" class="form-control" />
                <span asp-validation-for="@product.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@product.LastName" class="control-label"></label>
                <input asp-for="@product.LastName" class="form-control" />
                <span asp-validation-for="@product.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@product.Email" class="control-label"></label>
                <input asp-for="@product.Email" class="form-control" />
                <span asp-validation-for="@product.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateWithReload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <input type="submit" value="DeleteWithReload" class="btn btn-primary" />
            </td>
        </tr>
        }
    </tbody>
</table>