﻿@model IEnumerable<Otus.Teaching.Pcf.Administration.Core.Domain.Administration.Preference>


@{
    Layout = "_Layout";
    ViewData["Title"] = "PreferencesView";
}


<h4>Product</h4>
<hr />
@{
    Otus.Teaching.Pcf.Administration.Core.Domain.Administration.Preference preference =
        new Otus.Teaching.Pcf.Administration.Core.Domain.Administration.Preference();
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateWithReload">
            <div class="form-group">
                <label asp-for="@preference.Name" class="control-label"></label>
                <input asp-for="@preference.Name" class="form-control" />
                <span asp-validation-for="@preference.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateWithReload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <input type="submit" value="DeleteWithReload" class="btn btn-primary" />
                </td>
            </tr>
        }
    </tbody>
</table>