﻿@model IEnumerable<Otus.Teaching.Pcf.Administration.Core.Domain.Administration.PromoCode>


@{
    Layout = "_Layout";
    ViewData["Title"] = "PromoCodeView";
}


<h4>Product</h4>
<hr />
@{
    Otus.Teaching.Pcf.Administration.Core.Domain.Administration.PromoCode promo =
        new Otus.Teaching.Pcf.Administration.Core.Domain.Administration.PromoCode();
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="CreateWithReload">
            <div class="form-group">
                <label asp-for="@promo.Code" class="control-label"></label>
                <input asp-for="@promo.Code" class="form-control" />
                <span asp-validation-for="@promo.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@promo.Code" class="control-label"></label>
                <input asp-for="@promo.Code" class="form-control" />
                <span asp-validation-for="@promo.ServiceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@promo.Code" class="control-label"></label>
                <input asp-for="@promo.Code" class="form-control" />
                <span asp-validation-for="@promo.BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@promo.Code" class="control-label"></label>
                <input asp-for="@promo.Code" class="form-control" />
                <span asp-validation-for="@promo.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateWithReload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <input type="submit" value="DeleteWithReload" class="btn btn-primary" />
            </td>
        </tr>
        }
    </tbody>
</table>